@import 'utilities';

.wrap{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.meme_con {
  display: grid;
  grid-template:  40px 40px / 1fr 1fr;
  margin: 36px 23px 15px 23px;
  gap: 15px;
  
  
  .meme_btn {
    grid-column: 1 / -1;
    margin-bottom: 21px;
    @include bg;
    @include meme_btn;
    @include meme_btn_txt;
    
  }

  input {
    @include meme_In_con;
    text-indent: 5px;
  }

}
.meme_img_con {
  @include meme_img;
  // position: fixed;
  width: 500px;
  height: 500px;
  
}


.topText {
  position: absolute;
  top: 45px;
  left: 50%;
  transform: translate(-50%, -50%);
}
.bottomText {
  position: absolute;
  bottom: -70px;
  left: 50%;
  transform: translate(-50%, -50%);
}


.memeDisplay{
  position: relative;
  // display: inline;
  // align-self: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  // width:100%;
  
}

.memeDisplay h2{
  // position: fixed;
  @include meme_text;
}
