@import 'utilities';
// @import 'nav_styles';
// @import 'meme_styles';

.App {
  // margin is up  right down left
  // width: 550px;
  // max-height: 1000px;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  // position: relative;
}

video{
  position: fixed;   
}

.TTown {
  /* position: relative; */
  z-index: -1000;
  height: relative;
  width: relative; 
  margin: 0;
  object-fit: fill;
}
